%section.green-section.main
  .container.text-center
    %h1 Sign Up

  .container.smaller
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field.input-container
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field.input-container
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field.input-container
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Sign up", class: "call-to-action-button"
    = render "devise/shared/links"
