.masonry-item
  .masonry-item-content
    %span{ style: "padding-bottom: 20px;" }
      - if gratitude.is_a?(EmailGratitude)
        .masonry-item-about
          = fa_icon "heart"
          = link_to gratitude.user.name, "#{gratitude.user.name}"
      - else
        .masonry-item-about
          = fa_icon "heart"
          = link_to gratitude.account.name, "#{gratitude.account.name}"

    %p= simple_format(truncate(gratitude.body, length: 200))
    %span{ style: "padding-top: 10px;" }
      - if gratitude.is_a?(EmailGratitude)
        .masonry-item-about
          📫
          Sent via email
      - else
        .masonry-item-about
          - if gratitude.manual
            👻
            Added anonymously
          - else
            = fa_icon "twitter"
            = link_to "Added from Twitter", "https://twitter.com/statuses/#{gratitude.tweet}", class: "strip-color"
