%section.green-section
  .container.text-center
    %h1= @account.name
    %a.cta{:href => "#{@account.name}/submit"} Submit Gratitude

%section
  .container.masonry
    - @gratitudes.each do |gratitude|
      .masonry-item
        .masonry-item-content
          %p= gratitude.body
          %span
            = link_to gratitude.account.name, "#{gratitude.account.name}"
