%section.green-section.main
  .container.text-center
    %h1 Give Gratitude

  .container.smaller
    .gratitude-submit
      - if Rails.env.development? && current_user
        = form_tag("/#{@account.name}/submit", method: "POST") do
          .form-group
            = label_tag(:gratitude, "Your Gratitude")
            = text_area(:gratitude, :body, class: "form-control")
          = hidden_field("gratitude", "account_id", value: @account.id)
          = submit_tag("Submit Your Gratitude", class: "btn btn-primary")
      - else
        .masonry-item
          .masonry-item-content{ style: "text-align: center;"}
            Manual submission currently turned off to fight off spammers :)
